<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/fullcalendar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/fullcalendar.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/HoldOn.min.css') }}">

    <script src="..\static\js\jquery.min.js"></script>
    <script src="..\static\js\jquery-ui.min.js"></script>
    <script src='..\static\js\moment.min.js'></script>
    <script src='..\static\js\fullcalendar.min.js'></script>
	<script src="..\static\js\personalCal.js"></script>
    <script src="..\static\js\HoldOn.min.js"></script>

<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

  .fc-day-top fc-fri fc-today {
    font-weight: bold;
    font-size:100px
  }

</style>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--<a class="navbar-brand animated bounce infinite" href="/"><img  src="{{url_for('static', filename='img/Logo1.jpg')}}" height="28px" class="img img-responsive"></a>-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- <img src="company-comp245560.PNG">  -->
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <!--<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/employee details"><b>EmployeeDetails</b></a>
             </li>
             <li class="nav-item">
                  <!--<a class="nav-link" href="/employee_leave_profile"><b>LeaveDetails</b></a>-->
                  <!--<a class="nav-link" href="/workinpro"><b>LeaveDetails</b></a>-->
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="/personalLeave"><b>ApplyLeave</b></a>
             </li>
             {% if "Yes" in AdminReturn%}
                <li class="nav-item">
                    <a class="nav-link" href="/viewteam"><b>OrgOperations</b></a>
                </li>
             {% endif %}
             <li class="nav-item">
                 <a class="nav-link" data-toggle="modal" data-target="#exampleModalAbout"><b>About</b></a>
             </li>

          </ul>
          <form class="form-inline my-2 my-lg-0" action="/signout" method=['GET']>
              <label id="currentUserself" style="margin-right:10px">Hello!! &nbsp <b> {{EmployeeName}}</b> </label>
              <button style="z-index:99999" type="submit" class="btn btn-danger float-right"><i class='fa fa-sign-out'></i>Logout</button>
          </form>
        </div>
    </nav><hr>

  <div id='calendar' >
      <!--<div class="fc-body" data-toggle="modal" data-target="#exampleModal"></div>-->
  </div>
    <div class="row">
        <div class="col-md-12" style="padding-left:525px">
        <label>FullDay Leave</label>
        <div style="width:20px;height:20px;margin:5px;border:1px solid rgba(0,0,0,.2);background: red"></div>
        <label>HalfDay Leave</label>
        <div style="width:20px;height:20px;margin:5px;border:1px solid rgba(0,0,0,.2);background: blue"></div>
        </div>
    </div>


<!--POPUP-->
    <!--confirmation of leaves-->
        <div class="modal fade" id="exampleModal123" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel"><span >
							<!--<img src="{{url_for('static', filename='img/hg.jpg')}}" height="50px" class="img img-responsive" alt="">-->
					</span>
					</span>Are you sure you want to apply leave?
		        </h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <button type="button" id="perleavesubmit"  class="btn btn-primary" data-dismiss="modal">FullDay</button>
                <button type="button" id="perleavesubmitHalfDay"  class="btn btn-primary " data-dismiss="modal">HalfDay</button>
		      </div>
		      <div class="modal-footer">
		        <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>-->
		        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                <button type="button" class="btn btn-primary reload cancelSubmit" data-dismiss="modal">No</button>

		      </div>
		    </div>
		  </div>
		</div>

    <!--&lt;!&ndash;poPUP FOR revert&ndash;&gt;-->
        <!--<div class="modal fade" id="exampleModal124" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
		  <!--<div class="modal-dialog" role="document">-->
		    <!--<div class="modal-content">-->
		      <!--<div class="modal-header">-->
		        <!--<h5 class="modal-title" id="exampleModalLabel124"><span >-->
							<!--&lt;!&ndash;<img src="{{url_for('static', filename='img/hg.jpg')}}" height="50px" class="img img-responsive" alt="">&ndash;&gt;-->
					<!--</span>-->
					<!--</span>You already applied for the day.-->
		        <!--</h5>-->
		        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
		          <!--<span aria-hidden="true">&times;</span>-->
		        <!--</button>-->
		      <!--</div>-->
		      <!--<div class="modal-body">-->
		        <!--&lt;!&ndash;<button type="button" id="perleavesubmit"  class="btn btn-primary" data-dismiss="modal">Close</button>&ndash;&gt;-->
		        <!--<button type="button" class="btn btn-primary reload cancelSubmit" data-dismiss="modal">Close</button>-->
		      <!--</div>-->
		      <!--<div class="modal-footer">-->
		        <!--&lt;!&ndash;<button type="button" id="revertLeave" class="btn btn-primary" data-dismiss="modal">Revert</button>&ndash;&gt;-->
		        <!--&lt;!&ndash;<button type="button" class="btn btn-primary">Save changes</button>&ndash;&gt;-->
		      <!--</div>-->
		    <!--</div>-->
		  <!--</div>-->
		<!--</div>-->



    <!--poPUP FOR revert-->
        <div class="modal fade" id="exampleModal124" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel124"><span >
							<!--<img src="{{url_for('static', filename='img/hg.jpg')}}" height="50px" class="img img-responsive" alt="">-->
					</span>
					</span>You already applied for the day.
		        </h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <!--<button type="button" id="perleavesubmit"  class="btn btn-primary" data-dismiss="modal">Close</button>-->
		        <button type="button" class="btn btn-primary reload cancelSubmit" data-dismiss="modal">Close</button>
		      </div>
		      <div class="modal-footer">
		        <!--<button type="button" id="revertLeave" class="btn btn-primary" data-dismiss="modal">Revert</button>-->
		        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
		      </div>
		    </div>
		  </div>
		</div>

<div class="modal fade" id="exampleModalAbout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelCreate">
                        </span>About-LeaveApp
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"  aria-label="Close">
                      <span id="register1" aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                            <div class="form-group">
                                <b>Version:1.1.2</b><br>
                                Date: 14th June 2018<hr>
                                <br>
                                Description: Leave Application Portal
                            </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="register" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                  </div>
                </div>
              </div>
            </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" />


<script>
    var currentUser = document.getElementById('currentUserself').textContent
    console.log(currentUser)
</script>
</body>
</html>
